<!DOCTYPE html>
<html x-ng-app="tttAppl">
<head>
	<title>Tons of Fun...</title>
	<link rel="stylesheet" type="text/css" href="TTT.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="TTT.js"></script>
</head>
<body x-ng-controller="TttController">
	<div id="logo"><img src="img/958374_orig.png"></div>
<div class="outro">
	<div id="Don"></div>
	<div id="Mic"></div>
	<div id="Leo"></div>
	<div id="Rap"></div>
	<div id="board">
		<div class="cell" x-ng-repeat="c in cells track by $index" x-ng-click = "makeMove($index);">
			<div>
				{{changeVar(c)}}
			</div>
		</div>
	</div>
	<img src="img/leo3302012.jpg" x-ng-click="newGame()">
</div>
</body>
</html>