
body {
	background-color: black;
	text-align: center;
	color: white;
	font-size:150px;
	width:1500px;
	height:800px;
	margin:0 auto;
}
#logo img{
	margin-top: 100px;
	margin-bottom:-150px;
	width:500px;

}
#board {
	margin: 0 auto;
	border: 4px solid white;
	width: 493px;
	height: 493px;
	padding: 4px;
}
.cell {
	width: 150px;
	height: 150px;
	border: 4px solid #007F00;
	float: left;
	margin: 2px;
	padding-top: 4px;
	padding-left: 4px;
	-webkit-transition: border-radius 0.5s;
}
.cell:hover {
	background-image: url("img/turtlelogo2.svg");
	background-position: center;
	background-size: 85%;
	background-repeat: no-repeat;
	background-color: #007F00;
	border-radius:50px;
}
.outro{
	display:inline-block;
	height:600px;
	width:1300px;
	margin-top:-20px;
}
#Don{
	background-color: black;
	background-image: url("img/POdon.gif.svg");
 	width:150px;
 	height:500px;
 	border:solid white;
 	float:left;
 	background-position: center;
 	background-size: 100%;
 	background-repeat: no-repeat;
 	margin:0 16px;
 	
}
#Don:hover{
	background-color:#7081BE;
}
#Mic{
	background-color: black;
	background-image: url("img/POmic.gif.svg");
	width:150px;
 	height:500px;
 	border:solid white;
 	float: left;
 	background-position: center;
 	background-size: 100%;
 	background-repeat: no-repeat;
 	margin:0 16px;
}
#Mic:hover{
	background-color:#F79B20;
}
#Leo{
	background-color: black;
	background-image: url("img/POleo.gif.svg");
	width:150px;
 	height:500px;
 	border:solid white;
 	float: right;
 	background-position: center;
 	background-size: 100%;
 	background-repeat: no-repeat;
 	margin:0 16px;
}
#Leo:hover{
	background-color:#1588C8;

}
#Rap{
	background-color: black;
	background-image: url("img/POrap.gif.svg");
	width:150px;
 	height:500px;
 	border:solid white;
 	float:right;
 	background-position: center;
 	background-size: 100%;
 	background-repeat: no-repeat;
 	margin:0 16px;
}
#Rap:hover{
	background-color:#E1393F;
}
#newGame{
	background-image:url("img/newgame.svg");
	width:500px;
	height:50px;
	background-repeat:no-repeat;
	margin-left: 525px;
	margin-top:15px;
	margin-bottom: 0px;
}
#newGame:hover{
	background-image: url("img/newgame2.svg");
	text-align: center;

}
#tie{	
	width:500px;
	height:500px;
	margin-left:400px;
	position:absolute;
	top: 185px;
}
#tie img:first-child{
	margin-bottom:10px;
}
#player1 {
	display:inline-block;
	position:absolute;
	width:400px;
	height:400px;
	top:200px;
	margin-left: -190px;
}
#player1 img:first-child{
	margin-bottom:25px;
}
#player2{
	display:inline-block;
	position:absolute;
	width:400px;
	height:400px;
	top:200px;
	margin-left: -190px;
}
#player2 img:first-child{
	margin-bottom:25px;
}
.header{
	width:1250px;
	margin:0 auto;
}
#p1{
	height: 200px;
	float:left;
	margin-left:60px;
}
#p2{
	height: 200px;
	float:right;
	margin-right:60px;
}
.X{
	background-image:url("img/X.svg");
	background-size:cover;
}
.O{
	background-image: url("img/O.svg");
	background-size:cover;
}


