
body {
	background-color: black;
	text-align: center;
	color: white;
	font-size:150px;
	width:1500px;
	height:800px;
	margin:0 auto;
}
img{
	width:500px;
}
#board {
	margin: 0 auto;
	border: 4px solid white;
	width: 493px;
	height: 493px;
	padding: 4px;

}
.cell {
	width: 150px;
	height: 150px;
	border: 4px solid #007F00;
	float: left;
	margin: 2px;
	padding-top: 4px;
	padding-left: 4px;
	-webkit-transition: border-radius 0.5s;
}
.cell:hover {
	background-image: url("img/turtlelogo2.svg");
	background-position: center;
	background-size: 85%;
	background-repeat: no-repeat;
	background-color: #007F00;
	border-radius:50px ;
}
.outro{
	display:inline-block;
	height:600px;
	width:1300px;
}

#Don{
	background-color: black;
	background-image: url("img/POdon.gif");
 	width:150px;
 	height:500px;
 	border:solid white;
 	float:left;
 	background-position: center;
 	background-size: 100%;
 	background-repeat: no-repeat;
 	margin:0 16px;
 	
}
#Don:hover{
	background-color:#7081BE;
}
#Mic{
	background-color: black;
	background-image: url("img/POmic.gif");
	width:150px;
 	height:500px;
 	border:solid white;
 	float: left;
 	background-position: center;
 	background-size: 100%;
 	background-repeat: no-repeat;
 	margin:0 16px;
}
#Mic:hover{
	background-color:#F79B20;
}
#Leo{
	background-color: black;
	background-image: url("img/POleo.gif");
	width:150px;
 	height:500px;
 	border:solid white;
 	float: right;
 	background-position: center;
 	background-size: 100%;
 	background-repeat: no-repeat;
 	margin:0 16px;
}
#Leo:hover{
	background-color:#1588C8;
}
#Rap{
	background-color: black;
	background-image: url("img/POrap.gif");
	width:150px;
 	height:500px;
 	border:solid white;
 	float:right;
 	background-position: center;
 	background-size: 100%;
 	background-repeat: no-repeat;
 	margin:0 16px;
}
#Rap:hover{
	background-color:#E1393F;
}



